body.main {
    background-color: #2A2929;
    margin: 0;
    padding: 0;
}
h1{
    color: white;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0f0f0f;
    padding: 10px 20px;
    gap: 10px;
}
.LogoArea{
    display: flex;
    align-items: center;
    gap: 5px;
}
.Logo{
    width: 50px;
    height: auto;
}
.LogoArea h1{
    color: white;
    margin: 0;
}
.Regions select,
.Sections select {
    padding: 6px;
    background-color: #2A2929;
    color: white;
    border: 1px solid #444;
    border-radius: 5px;
}
.Searchbar input{
    width: 90%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #222;
    color: white;
}
.Searchbar{
    flex: 1;
}
.cart p{
    color: white;
    margin: 0;
    font-size: 20px;
    cursor: pointer;
}
.cart a{
    text-decoration: none;
    transition: transform 0.2s ease, color 0.2s ease;
}
.cart p:hover{
        transform: translateY(-5px);
        color: #FFD700;
}
.aboutus{
    margin-right: 50px;
}
.aboutus a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.2s ease;
}
.aboutus a:hover {
    color: #FFD700; 
}
.cart-items {
    margin-top: 40px;
    padding: 20px;
}

.cart-card {
    display: flex;
    gap: 20px;
    background: white;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 20px;
    align-items: center;
}

.cart-card img {
    width: 140px;
    height: 140px;
    border-radius: 10px;
    object-fit: cover;
}

.cart-card .info h3 {
    margin: 0;
    font-size: 20px;
}

.price {
    font-weight: bold;
    margin: 5px 0;
}

.quantity button {
    width: 30px;
    height: 30px;
    border: none;
    background: #222;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.quantity span {
    padding: 0 12px;
    font-size: 18px;
}

.remove {
    background: #b30000;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    cursor: pointer;
}
.remove:hover {
    background: red;
}
.empty {
    color: white;
    text-align: center;
    font-size: 22px;
    margin-top: 50px;
}
.cart-summary {
    background: #111;
    padding: 20px;
    margin: 20px;
    border-radius: 12px;
    color: white;
    text-align: center;
    border: 1px solid #FFD700;
}

.cart-summary h2 {
    margin: 0 0 15px 0;
    font-size: 24px;
}

.checkout-btn {
    background: #FFD700;
    color: #000;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s ease;
}

.checkout-btn:hover {
    background: #e6c000;
    transform: translateY(-3px);
}
